#top-border {
    height: 5px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #004d27;
    float: left;
    z-index: 10;
}

body {
    background: linear-gradient(180deg, rgba(197,173,125,1) 0%, rgba(210,190,150,1) 50%, rgba(219,200,160,1) 100%);
    margin: 0;
    font: normal 16px Arial, Helvetica, sans-serif;
    color: #fff;
}

a:link,
a:visited {
    color: #00532a;
    text-decoration: none;
}

a:hover,
a:active {
    color: #00532a;
    text-decoration: underline;
}

/* ----------main body-------------- */
h1 {
  color: #004423;
  font: bold 24px Arial, Helvetica, sans-serif, sans;
  line-height: 25px;
  margin: 0 0 15px;
  text-transform: uppercase;
}

h2 {
  font: bold 22px/22px Arial, Helvetica, sans-serif;
  color: #cbb385;
  text-shadow: #000 0px -1px 0px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #347054;
}

h3 {
    font: bold 16px Arial, Helvetica, sans-serif;
    color: #000;
}

h4 {
    font: bold 16px Arial, Helvetica, sans-serif;
    color: #000;
}

h5 {
    font: bold 16px Arial, Helvetica, sans-serif;
    color: #000;
}

h6 {
  font-size: 14px;
  font-variant: small-caps;
  color: black;
  padding-top: 5px;
}

p {
    font: normal 12px Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #000;
}

/* --resource lists-- */
.resource_list li {
    margin-bottom: 10px;
}

.reading_list li {
    margin-bottom: 5px;
}

.resource_list li a,
.reading_list li a {
    color: #00532a;
}

main {
    width: 960px;
    margin: 0 auto;
}

#page-bg {
    width: 960px;
    background: url(../images/page-bg-repeater.png) repeat-y;
    float: left;
    min-height: 229px;
}

#page-bg-bottom {
    width: 960px;
    height: 14px;
    float: left;
    background: url(../images/page-bg-bottom.png) no-repeat;
    position: relative;
    z-index: 3;
}

img.page-bg-bottom-gradient {
    position: absolute;
    bottom: 8px;
    left: 10px;
    z-index: 4;
}

header {
    height: 167px;
    margin: 0 auto;
    position: relative;
    width: 940px;
}

header #logo {
    position: absolute;
    left: -28px;
    top: 16px;
}

header p {
    color: #000;
    font: normal 13px Arial, Helvetica, sans-serif, sans;
    line-height: 18px;
}

header p a {
    color: #00532a;
}

header table#hours {
    width: 330px;
}

header table#hours td {
    border-bottom: 1px solid #CBB385;
    color: #000;
    font: normal 13px Arial, Helvetica, sans-serif, sans;
    padding: 3px 0;
}

header table#hours td a {
    margin-top: 10px;
    color: #004423;
    float: left;
}

header #social-media {
    float: left;
    margin: 6px 16px 0 0;
}

header #social-media a {
    display: inline;
}

header table#search {
    margin: 0 28px 0 4px;
}

header table#search td {
    color: #000;
    font: bold 13px Arial, Helvetica, sans-serif, sans;
    line-height: 18px;
}

header table#search td label {
    bottom: 1px;
    display: inline;
    font: bold 13px Arial, Helvetica, sans-serif, sans;
    line-height: 18px;
    margin: 0;
    padding: 0;
    position: relative;
}

header table#search td input.radio {
    display: inline;
    position: relative;
}

header table#search input.q {
    background: #FFF;
    border: 1px solid #aeaeae;
    display: inline;
    float: left;
    height: 26px;
    line-height: 26px;
    margin: 4px 4px 0 0;
    padding: 0 5px;
    position: relative;
    right: 4px;
    width: 190px;
    /* css3 */
    -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
    -o-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
}

header table#search input.searchButton {
    background: url(../images/search-submit.gif) no-repeat;
    border: 0;
    display: inline;
    height: 26px;
    position: relative;
    top: 4px;
    width: 58px;
}

header table#search input.searchButton:hover {
    cursor: pointer;
}

.banner-1 {
    background: url(../images/banner-01.jpg) center top no-repeat;
}

header #header-left {
    float: left;
    margin: 45px 0 0 140px;
    width: 300px;
}

header #header-right {
    float: right;
    margin: 43px 0 0 0;
    width: 350px;
}

#content {
    width: 920px;
    padding: 10px;
    margin: 0 0 0 10px;
    float: left;
    position: relative;
    z-index: 5;
}

#quick-links {
    width: 300px;
    height: 330px;
    background: url(../images/quick-links-bg.gif) repeat-x;
    float: left;
    padding: 14px 16px 0;
}

#quick-links ul {
    margin-bottom: 22px;
}

#quick-links ul li {
    margin-bottom: 13px;
}

#quick-links ul li a {
    color: #fff;
    font: normal 15px/16px Arial, Helvetica, sans-serif;
    text-shadow: #000 0px -1px 0px;
}

#slideshow {
    float: left;
    margin-left: 10px;
    overflow: auto;
    width: 572px;
    height: 325px;
    border: 1px solid #000;
    font: 14px;
}

#slideshow p {

    padding-left: 10px;
    text-align: center;
    font-size: 14px;
}

#slideshow img {
    /*position: relative;
	float: left;
	padding-right: 10px;
	padding-top: 10px;*/
    width: 75%;
    margin: auto;
    display: block;
    padding: 10px;
}


/*#slides img {
	width:572px;
	height:325px;
	display:block;
}
#sscontrols{
	z-index:1000;
	position:absolute;
	float:left;
	margin-left:10px;
	right:231px;
	top:294px;
	display:none;
	border:0px solid #baa478;
	margin:0;
	padding:6px;
	width:120px;
}    */
#leftCol {
    width: 330px;
    float: left;
    padding: 0px;
    margin: 0px;
}

#leftCol h3,
#rightCol h3 {
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    width: 100%;
    clear: both;
}

#leftCol p,
#rightCol p {
    margin-bottom: 20px;
}

#leftCol p a {
    font: bold 12px/20px Arial, Helvetica, sans-serif;
    color: #00532a;
}

#rightCol p a {
    font: normal 12px/20px Arial, Helvetica, sans-serif;
    color: #00532a;
}

#leftCol h4 {
    font-size: 14px;
    line-height: 26px;
    margin-top: 20px;
}

#rightCol h4 {
    margin-top: 20px;
    line-height: 26px;
}

#rightCol {
    width: 527px;
    float: left;
    padding: 20px;
}

#oneCol {
    width: 832px;
    float: left;
    padding: 20px;
}

#oneCol h3 {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    width: 100%;
    clear: both;
}

#oneCol p {
    margin-bottom: 0px;
}

#oneCol p a {
    font: normal 12px/20px Arial, Helvetica, sans-serif;
    color: #00532a;
}

#oneCol h4 {
    margin-top: 20px;
    line-height: 26px;
}

#twoColLeft h4 {
    margin-top: 20px;
    line-height: 26px;
}

#twoColLeft {
    width: 416px;
    float: left;
    padding: 20px;
}

#twoColRight h4 {
    margin-top: 20px;
    line-height: 26px;
}

#twoColRight {
    width: 416px;
    float: left;
    padding: 20px;
}

footer {
    width: 960px;
    text-align: center;
    color: #000;
    font-size: 10px;
    margin: 8px 0 16px;
    float: left;
}

#content.internal {
    width: 920px;
    padding: 10px;
    margin: 0 0 0 10px;
    float: left;
    position: relative;
    z-index: 5;
}

#content.internal #leftCol {
    width: 230px;
    background: #04423 url(../images/quick-links-bg.gif) left top repeat-x;
    height: 100%;
}

#content.internal #leftCol h3 {
    color: #fff;
    border-bottom: 1px solid #347054;
    margin-bottom: 12px;
}

#content.internal #leftCol h3 a {
    color: #fff;
}

#content.internal #leftCol h3 a:hover {
    text-decoration: none;
}

#content.internal #leftCol ul li {
    margin-bottom: 5px;
}

#content.internal #leftCol ul li a {
    color: #fff;
    font: bold 15px/16px Arial, Helvetica, sans-serif;
    text-shadow: #000 0px -1px 0px;
    display: block;
    padding: 4px;
    position: relative;
    right: 4px;
}

#content.internal #leftCol ul li a:hover,
#content.internal #leftCol ul li a.active,
#content.internal #leftCol ul li a.active:hover {
    color: #000;
    font: bold 15px/16px Arial, Helvetica, sans-serif;
    text-shadow: #fff 0px -1px 0px;
    background: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 4px;
    position: relative;
    right: 4px;
}

#content.internal #rightCol {
    width: 600px;
}

#content.internal #rightCol h1 {
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}

#content.internal #rightCol table td {
    padding-right: 16px;
}

#content.internal #rightCol ul {
    list-style: outside;
    margin-bottom: 20px;
}

#content.internal #rightCol ul li {
    font: normal 12px Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #000;
    margin-left: 20px;
    list-style-type: disc;
}

#content.internal #oneCol {
    width: 832px;
}

#content.internal #oneCol h1 {
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}

#content.internal #oneCol table td {
    padding-right: 16px;
    border: 1px;
    vertical-align: top;
}

#content.internal #oneCol ul {
    list-style: outside;
    margin-bottom: 20px;
}

#content.internal #oneCol ul li {
    font: normal 12px Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #000;
    margin-left: 20px;
    list-style-type: disc;
}

/* search fix */
#search-wrapper {
    height: 60px;
    float: right;
    width: 380px;
}

/* nav arrows */
.arrow {
    background: url("../images/arrow-right-gray.png") top right no-repeat #04423 !important;
}

.arrow a:hover {
    background: url("../images/arrow-right-white.png") top right no-repeat #baa478 !important;
}

.arrow ul li a:hover {
    background: none !important;
}

/* ipad phone number fix */
#header-phone-number a {
    background: none !important;
    border: 0 !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* collapse spacing in lists on the front page */
.frontpage_list li {
    color: #000;
    list-style: disc inside;
    font: normal 12px Arial, Helvetica, sans-serif;
    line-height: 20px;
    margin-left: 30px;
}

.frontpage_list li a {
    color: #00532a;
}

.frontpage_list {
    display: inline;
}


/*alternate-row highlighting for meeting minutes & agendas*/
table#minutes tr:hover td {
    background: #dcc9a1;
}

th {
    font-weight: bold;
    text-align: left;
}

/* begin styles for RSS Feed */

.rss-box {}

.rss-items {
    margin-top: 0px;
    padding: 0.5em;
    margin-left: 0px;
    color: #347054;
}

p.rss-title {
    padding: 0.5em;
}

.rss-title {
    display: none;
}

.rss-item {
    font-size: 12pt;
    list-style: none;
    padding-bottom: 1em;
}

.rss-item a {
    color: #347054;
    font-size: 16pt;
    font-weight: bold;
}

.rss-item a:visited {
    color: black;
}

.rss-date {
    font-size: 10pt;
    color: black;
    display: none;
}

.fineprint {
    font-size: 10pt;
}

/*custom style for tawk.to page*/
#help {
    font-size: 28px;
    line-height: 1.5em;
    padding: 40px 10px 400px 10px;
}

/*godaddy security certificate span*/
#siteseal {
  padding-top: 10px;
}
