.clearfix {
    clear: both;
}
.width {
    width: 300px;
}
.heading {
	display: none;
}
.eventList {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #666;
    clear: both;
}
.eventList.heading {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
    padding-top: 10px;
}
.eventList .item {
    background-color: #EAE2D1;
    margin-bottom: 10px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.eventList a, .eventList .title {
    font-size: 14px;
    font-weight: bold;
    color: #005420;
    text-decoration: none;
}
.eventList a:hover {
    text-decoration: underline;
}
.eventList .time {
    font-weight: bold;
    color: #363636;
    padding-left: 15px;
}
.eventList .date {
    float: right;
    padding-right: 10px;
}
.eventList img {
    width: 100%;
    height: auto;
}
.eventList .image {
	display: none;
}
.eventList .description {
	display: none; 
}
.eventList .location {
    display: none;
}
.eventList .branch {
	display: none;
}
